.auth {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    .auth-window {

        .user-photo {
            img {
                @include border-radius($radius);
            }
        }

        .auth-window-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 10px;
            @include border-radius(0 0 $radius $radius);
            border-top: solid 1px adjust-lightness($color-dark-gray, 8%);
            background: adjust-lightness($color-darker-gray, 10%);
        }

        form {
            input[type=text], input[type=password] {
                @include border-radius($radius);
                border: none;
                border-bottom: solid 1px transparent;
                width: 100%;
                padding: 5px;

                &.invalid {
                    border-color: adjust-lightness($color-red, 15%);
                }
            }
        }
    }
}

ul.auth-errors-list {
    li:first-letter {
        text-transform: capitalize;
    }
}
