.btn {
  @include background-image(linear-gradient(#313948, #2b3240));
  @include border-radius($radius);
  @include text-shadow(0 -1px 1px rgba(0,0,0,0.3));
  @include box-shadow(0 1px 1px rgba(0,0,0,0.3));
  border: solid 1px #282f3d;
  color: $color-alt-white;
  padding: 2px 6px 3px;
  cursor: pointer;

  &[disabled] {
    @include opacity(0.4);
    &:active, &.active {
      @include box-shadow(none);
    }
  }

  &:active, &.active {
    @include box-shadow(inset 0 3px 5px #2b3240);
    @include background-image(linear-gradient(#313948, #2b3240));
    outline: none;
    color: $color-alt-white;
    border-bottom-color: adjust-lightness(#282f3d, 3%);
  }

  &:focus {
    outline: none;
    color: $color-alt-white;

    &:active {
      outline: none;
    }
  }

  &:hover {
    color: $color-alt-white;
  }

  &.btn-light {
    @include background-image(linear-gradient(#fefefe, #e4e4e4));
    @include text-shadow(0 1px 1px #ffffff);
    border: solid 1px #c6c6c6;
    color: $color-cool-gray;

    &:active, &.active {
      @include background-image(linear-gradient(#e4e4e4, #fefefe));
      @include box-shadow(inset 0 3px 5px #fefefe);
      color: $color-cool-gray;
      border-bottom-color: adjust-lightness(#c6c6c6, 3%);
    }

    &:focus {
      outline: none;
      color: $color-cool-gray;

      &:active {
        outline: none;
      }
    }
  }
}