.color-white {
  color: $color-white;
}

.color-alt-white {
  color: $color-alt-white;
}

.color-dark-gray {
  color: $color-dark-gray;
}

.color-darker-gray {
  color: $color-darker-gray;
}

.color-dark-blue {
  color: $color-dark-blue;
}

.color-orange {
  color: $color-orange;
}

.color-warm-gray {
  color: $color-warm-gray;
}

.color-light-gray {
  color: $color-light-gray;
}

.color-cool-gray {
  color: $color-cool-gray;
}

.color-red {
  color: $color-red;
}

.color-yellow {
  color: $color-yellow;
}

.color-blue {
  color: $color-blue;
}

.color-green {
  color: $color-green;
}
