$color-white: #ffffff;
$color-alt-white: #c4ccda;
$color-dark-gray: #32394a;
$color-darker-gray: #262c3a;
$color-dark-blue: #274686;
$color-light-blue: #d8e0f5;

$color-orange: #DD4814;
$color-warm-gray: #AEA79F;
$color-light-gray: #EFEFEF;
$color-cool-gray: #333;
$color-red: #DF382C;
$color-yellow: #EFB73E;
$color-blue: #19B6EE;
$color-green: #38B44A;

$radius: 3px;
$notification-panel-width: 384px;